  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>NEITHER OUT FAR NOR IN DEEP</h1>
      <h4><span style="align:right;">Robert Frost</span>
          </h4>
      <h2>
   <br>The people along the sand
   <br>All turn and look one way.
   <br>They turn their back on the land.
   <br>They look at the sea all day.
　　　　 
   <br>As long as it takes to pass
   <br>A ship keeps raising its hull;
   <br>The wetter ground like glass
   <br>Reflects a standing gull
　　　　
   <br>The land may vary more;
   <br>But wherever the truth may be--
   <br>The water comes ashore,
   <br>And the people look at the sea.
　　　　 
   <br>They cannot look out far.
   <br>They cannot look in deep.
   <br>But when was that ever a bar
   <br>To any watch they keep?
      	 <br> 
      </h2>
    
    </div>
  </div>
  <div class ="container">
